<section id="user-overview">
    <div class="section-title">
        <h2>User overview</h2>
    </div>
    <div class="section-content">
        <?php if ( $page->userOverview ) : ?>
            <?=$page->userOverview?>
        <?php endif; ?>
    </div>
</section>
<section id="user-overview">
    <div class="section-title">
        <h2>Roles</h2>
    </div>
    <div class="section-content">
        <?php if ( $page->roleOverview ) : ?>
            <?=$page->roleOverview?>
        <?php endif; ?>
    </div>
</section>