<!doctype HTML>
<head>
    <title><?=$this->routeObj->pageTitle?></title>
    <meta name="viewport" content="width=240, height=320, user-scalable=yes, initial-scale=2.5, maximum-scale=5.0, minimum-scale=1.0" />
    <?=$this->get_dependencies( 'header' )?>
</head>
<body>
<?php $this->get_part( 'menu' ); ?>
<div class="background"><?=$this->svg_helper('background2')?></div>

<main>
    <div class="page-title">
        <h1><?=$this->routeObj->pageTitle?></h1>
    </div>
    <article class="container-static">
