
    </article>
</main>
<footer class="admin-footer">
    Bare Framework <sup>2</sup> - Admin panel | <?=$this->routeObj->pageTitle?>
</footer>
<?php $this->get_part('bflb');?>
<?=$this->get_dependencies( 'footer' )?>
</body>
</html>