<!doctype HTML>
<head>
    <title><?=$this->routeObj->pageTitle?> admin</title>
    <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.1, minimum-scale=1.0" />
    <?=$this->get_dependencies( 'header' )?>
</head>
<body>
<?php $this->get_part( 'admin-menu' ); ?>
<div class="background"><?=$this->svg_helper('background2')?></div>

<main class="adminpanel-main">
    <div class="admin-page-title">
        <h1><?=( !empty($this->routeObj->altTitle) ? $this->routeObj->altTitle : $this->routeObj->pageTitle )?></h1>
        <?php if ( !empty( $page->adminPageDescription ) ) : ?>
            <span class="description"><?=$page->adminPageDescription?></span>
        <?php endif; ?>
    </div>
    <article class="admin-content">
