@import 'imports/mixins';
@import 'imports/content';
@import 'imports/darkvars';

div.admin-page-title {
  @include box-shadow($ver: 1rem, $blur: 2rem, $color: fade_out($defbase,.8));
  padding: 0;
  background-color: fade_out($mainbase, 90%);
  text-align: right;
  * {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
  }
  h1 {
    margin: 0;
    border-bottom: 1px solid fade_out($col4, 60%);
  }
  span.description {
    color: $defbase;
    font-size: 1rem;
    font-style: italic;
  }
}

article.admin-content {
  width: 100%;
  padding: 0 1rem 2rem 1rem;
  color: $black8;
  > p {
    padding: 1rem;
  }
  button#back-ext {
    margin: 1rem 0;
  }
  section {
    @include border-radius(.3rem);
    width: 100%;
    margin: 1rem 0;
    background-color: fade_out($defbase, 40%);
    overflow: hidden;
    div.section-title {
      h2 {
        padding: 1rem;
        margin: 0;
        background-color: fade_out($col5, 70%);
        color: $textcolor;
        font-weight: bold;
      }
    }
    div.section-content {
      @include nice-scrollbar-small( transparent, $black3 );
      padding: 1rem;
      overflow-x: auto;
      table {
        width: 100%;
        table-layout: auto;
        thead {
          border: 1px solid $black5;
          tr {
            th {
              background-color: $mainbase;
              color: $defbase;
              border: $mainbase;
            }
          }
        }
        tbody {
          border: 1px solid $black5;
          tr:nth-of-type(odd) {
            td {
              background-color: $black1;
            }
          }
          tr:last-of-type {
            border: 1px solid $black5;
          }
        }
      }
    }
  }
}

footer.admin-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: $black2;
  color: $white4;
}
