@import 'imports/vars';
@import 'imports/mixins';
@import 'imports/animations';

div.lb-container {
  @include transition( $dur: 0.7s, $ease: cubic-bezier(0.03, 0.26, 0.25, 1) );
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 3rem 0;
  background-color: $black8;
  opacity: 0;
  z-index: $overlayLevel;
  &.active {
    opacity: 1;
  }
  div.lb-ct-container {
    @extend %allcenter;
    @include border-radius(.3rem);
    @include box-shadow( $blur: 30rem, $color: $white3 );
    @include transition( $dur: 0.3s, $ease: cubic-bezier(0.03, 0.26, 0.25, 1) );
    display: none;
    min-width: 300px;
    max-width: 100%;
    height: auto;
    max-height: calc(100% - 60px);
    background-color: var(--nav-back-color);
    border: 1px solid $col3;
    overflow: hidden;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    &.medium {
      width: 50%;
    }
    div.close-lb {
      @include transition;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: var(--nav-fore-color);
      opacity: 0.3;
      cursor: pointer;
      z-index: $topLevel;
      &:hover {
        color: $col5;
        opacity: 1;
      }
    }
    div.lb-ct {
      position: relative;
      float: left;
      width: 100%;
      max-height: 100vh;
      padding: 1rem;
      height: auto;
      overflow: hidden;
      h2.lb-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        margin: 0 0 1rem 0;
        color: $col3;
        text-transform: capitalize;
      }
      div.ct {
        @include nice-scrollbar-normal( $black5, $col2 );
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        max-height: calc(100vh - 160px);
        padding-right: 10px;
        margin-top: 5rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $white6;
        overflow-y: auto;
        button.bfconf-button {
          float: left;
          margin-top: 1rem;
          &:first-of-type {
            margin-left: 0;
          }
          &[data-val="true"] {
            background-color: $green;
          }
          &[data-val="false"] {
            background-color: $red;
          }
        }
        form {
          float: left;
          width: 100%;
          background-color: transparent;
          border: none;
          padding: 0;
          margin: 0;
          &.add {
            button.add-button {
              right: 5px;
              bottom: 6px;
            }
          }
          > label {
            float: left;
            width: 100%;
            color: $white8;
            [type="text"],
            [type="password"],
            [type="email"],
            [type="number"],
            select,
            textarea {
              border-color: $col2 !important;
            }
            &.form-header {
              h3 {
                position: relative;
                padding: 20px 0;
                margin: 20px 0 10px 0;
                color: $col4;
                &::before {
                  @include horizontal-gradient( fade( $col5, 5% ), fade( $col5, 0% ) );
                  content: '';
                  display: block;
                  position: absolute;
                  top: 0;
                  left: -28px;
                  width: 100%;
                  height: 100%;
                }
                &::after {
                  @include horizontal-gradient( $col5, fade( $col5, 0% ) );
                  content: '';
                  display: block;
                  position: absolute;
                  top: 100%;
                  left: -28px;
                  width: 100%;
                  height: 2px;
                  opacity: 0.3;
                }
              }

            }
          }
          input[type="submit"] {
            float: right;
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
}
