@import 'imports/mixins';
@import 'imports/content';
@import 'imports/vars';
@import 'imports/topbase';

/*



.container-static {
  width: 1080px;
  margin: 0 auto;
  @media screen and (max-width: 1280px) and (min-width: 768px) {
    max-width: 992px;
    width: 100%;
  }
}

form {
  float: left;
  width: 100%;
  padding: 1rem;
  > label {
    float: left;
    width: 100%;
    height: auto;
    padding: .5rem 0;
    > select,
    input,
    textarea,
    [type="text"],
    [type="password"],
    [type="checkbox"],
    [type="radio"],
    [type="tel"],
    [type="url"],
    [type="email"] {
      float: left;
      width: 100%;
      padding: .5rem 1rem;
      margin: .4rem 0;
      border: 1px solid $col5 !important;
      font-family: $titleFont;
      font-size: 1.2rem;
    }
  }
  input[type="submit"] {
    float: right;
    margin: 0;
  }
}


div.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: .3;
  z-index: $backgroundLevel;
  overflow: hidden;
  svg {
    @include transition( $dur: .8s, $ease: cubic-bezier(0.5, 0.23, 0.2, 0.79) );
    @extend %allcenter;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin: 0;
  border: none;
  border-bottom: 1px solid $col4;
  z-index: $menuLevel;
  &.navbar {
    @include box-shadow( $ver: 5px, $blur: 20px, $color: $black2 );
  }
  * {
    padding: 0;
  }
  div.menu-icon {
    position: absolute;
    top: 1rem;
    left: 100%;
    display: none;
    div.hamburger {
      @include transition($dur: 0.15s, $ease: linear);
      display: inline-block;
      padding: 1rem;
      margin: 0;
      background-color: transparent;
      border: 0;
      text-transform: none;
      overflow: visible;
      cursor: pointer;
      &:hover,
      &.is-active:hover {
        opacity: 0.7;
      }
      &.is-active {
        span.hamburger-inner {
          //background-color: #fff;
          &::before,
          &::after {
            //background-color: #fff;
          }
        }
      }
      span.hamburger-box {
        display: inline-block;
        position: relative;
        width: 3.5rem;
        height: 2rem;
        span.hamburger-inner {
          @include transition($dur: .15s);
          @include border-radius(.3rem);
          display: block;
          position: absolute;
          top: 50%;
          width: 100%;
          height: .3rem;
          background-color: #fff;
          &:before,
          &:after {
            @include transition($dur: .15s);
            @include border-radius(.3rem);
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: .3rem;
            margin-top: -.15rem;
            background-color: #fff;
          }
          &:before {
            top: -1rem;
          }
          &:after {
            bottom: -1rem;
          }
        }
      }
      &.hamburger--spin {
        span.hamburger-inner {
          @include transition($dur: .22s, $ease: cubic-bezier(0.55, 0.055, 0.675, 0.19));
          &:before {
            transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
          }
          &:after {
            transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
        }
        &.is-active {
          span.hamburger-inner {
            @include rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            &:before {
              top: 0;
              opacity: 0;
              transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }
            &:after {
              bottom: 0;
              transform: rotate(-90deg);
              transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
          }
        }
      }
    }
  }
  div.logo {
    float: left;
    height: 100%;
    padding: .5rem 1rem;
    * {
      float: left;
      width: auto;
      height: 100%;
    }
  }
  ul.menu {
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    > li {
      float: left;
      width: auto;
      height: 100%;
      > a {
        height: 100%;
        padding: 2rem 2rem 1.8rem 2rem;
      }
    }
  }
  div.user-menu-container {
    position: relative;
    float: right;
    width: auto;
    height: 100%;
    padding: 1rem;
    div.title {
      @include transition( $dur: .3s, $ease: cubic-bezier(1, -0.27, 1, 1));
      @include border-radius(.3rem);
      float: left;
      width: auto;
      height: 100%;
      border: 1px solid transparent;
      cursor: pointer;
      span {
        @include transition( $dur: 0.6s, $ease: cubic-bezier(1, -0.27, 1, 1));
        float: left;
        height: 100%;
        padding: .7rem 1rem;
        font-family: $titleFont;
      }
      i {
        @include transition( $ease: cubic-bezier(1, -0.27, 1, 1) );
        @include border-radius(50%);
        float: left;
        width: 2rem;
        height: 2rem;
        padding: .4rem 0;
        margin: .4rem 1rem .4rem 0;
        text-align: center;
        color: $col4;
        border: 1px solid $col5;
      }
      &:hover,
      &.active{
        background-color: #fff;
        border-color: opacify( $col1, .3 );
        span {
          color: $col1;
        }
        i {
          color: $col2;
          border-color: $col1;
        }
      }
    }
    ul.user-menu {
      @include transition();
      @include border-radius( .3rem );
      @include box-shadow( $ver: 5px, $blur: 15px, $color: $black1 );
      position: absolute;
      top: calc(100% - .5rem);
      left: 1rem;
      width: auto;
      padding: .3rem 0;
      margin: 0;
      background-color: #fff;
      opacity: 0;
      list-style-type: none;
      &.active {
        opacity: 1;
      }
      &:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 1.2rem;
        width: 0;
        height: 0;
        margin-left: -.5rem;
        border: solid transparent;
        border-bottom-color: #fff;
        border-width: .5rem;
        pointer-events: none;
      }
      li {
        float: left;
        clear: left;
        width: 100%;
        a {
          @include border-radius( 0 );
          width: 100%;
          padding: .3rem 1rem;
          text-align: right;
          i {
            float: left;
            margin: .3rem .5rem .3rem 0;
          }
          &:hover {
            background-color: $black1;
          }
        }
      }
    }
  }
  &.admin-navbar {
    @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
    @include box-shadow( $hor: 15px, $blur: 20px, $color: $black5 );
    position: relative;
    width: 20rem;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid $col4;
    left: 0rem;
    @media screen and (max-width: 992px) {
      left: -20rem;
      &.open {
        left: 0;
      }
      div.menu-icon {
        display: block;
      }
    }
    div.logo {
      float: left;
      width: 100%;
      height: 9rem;
      padding: 1.5rem 4rem;
      border-bottom: 1px solid $col5;
      * {
        width: 100%;
        height: auto;
      }
    }
    ul.menu {
      height: auto;
      li {
        width: 100%;
        height: auto;
        border-bottom: 1px solid $white1;
      }
    }
    div.user-menu-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      div.title {
        float: right;
      }
      ul.user-menu {
        top: auto;
        bottom: 1rem;
        left: calc(100% - .5rem);
        padding: 0 .3rem;
        z-index: $topLevel;
        li {
          a {
            white-space: nowrap;
            i {
              float: none;
            }
          }
        }
        &:after {
          right: 100%;
          bottom: 1rem;
          left: auto;
          border-color: transparent;
          border-right-color: #fff;
          border-width: .5rem;
          margin-top: -.5rem;
        }
      }
    }
  }
}

!*
nav.admin-navbar {
  @include box-shadow( $hor: 15px, $blur: 20px, $color: $black5 );
  position: relative;
  width: 20rem;
  height: 100%;
  border-bottom: none;
  border-right: 1px solid $col4;
  div.logo {
    float: left;
    width: 100%;
    height: 9rem;
    padding: 1.5rem 4rem;
    border-bottom: 1px solid $col5;
    * {
      width: 100%;
      height: auto;
    }
  }
  ul.menu {
    height: auto;
    li {
      width: 100%;
      height: auto;
      border-bottom: 1px solid $white1;
    }
  }
  div.user-menu-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    div.title {
      float: right;
    }
    ul.user-menu {
      top: auto;
      bottom: 1rem;
      left: calc(100% - .5rem);
      padding: 0 .3rem;
      z-index: $topLevel;
      li {
        a {
          white-space: nowrap;
          i {
            float: none;
          }
        }
      }
      &:after {
        right: 100%;
        bottom: 1rem;
        left: auto;
        border-color: transparent;
        border-right-color: #fff;
        border-width: .5rem;
        margin-top: -.5rem;
      }
    }
  }

}
*!

div.page-title {
  position: relative;
  float: left;
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
  z-index: $contentLevel;
  h1 {
    padding: 0;
    margin: 0;
    font-size: 4rem;
  }
}

main {
  position: relative;
  float: left;
  width: 100%;
  z-index: $contentLevel;
}

main.adminpanel-main {
  position: absolute;
  top: 0;
  left: 20rem;
  width: calc(100% - 20rem);
  height: 100%;
  @media screen and (max-width: 992px) {
    @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
    left: 0;
    width: 100%;
    &.open-menu {
      @include transition($dur:.8s, $ease: cubic-bezier(0.83, 0.1, 0.4, 0.8));
      left: 20rem;
    }
  }
  div.admin-page-title {
    position: relative;
    float: left;
    width: 100%;
    height: 9rem;
    padding: 2rem;
    background: $black2;
    border-bottom: 1px solid $col4;
    @media screen and (max-width: 992px) {
      padding-left: 5rem;
    }
    h1 {
      color: $col5;
    }
    span.description {
      position: absolute;
      bottom: 1rem;
      left: 3rem;
      color: $white6;
      font-style: italic;
    }
  }
  article.container {
    float: left;
    width: 100%;
    padding: 2rem;
    section {
      @include border-radius( .2rem );
      float: left;
      width: calc(50% - 2rem);
      padding: 0;
      background-color: $black4;
      &:nth-of-type(odd) {
        margin-right: 4rem;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        &:nth-of-type(odd) {
          margin-right: 0;
        }
      }
      > * {
        float: left;
        width: 100%;
        padding: 1rem 2rem;
      }
      div.section-title {
        background-color: $black4;
        border-bottom: 1px solid $col5;
        h2 {
          padding: 0;
          margin: 0;
          color: $col4;
        }
      }
      div.section-content {
        table.overview {
          width: calc(100% + 2rem);
          margin: 0 -1rem;
        }
      }
    }
  }
}

table.overview {
  max-height: none;
  overflow: auto;
  button {
    width: 2.3rem;
    padding: .2rem .5rem;
    margin: 0 .5rem 0 0;
  }
  thead, tbody, tfoot {
    tr {
      @include transition($dur: .3s);
      .editcol {
        text-align: right;
        button {
          @include transition();
          background-color: $white3;
          color: #000;
          opacity: .4;
          &:hover {
            @include box-shadow($ver: 5px, $blur: 10px, $color: $black5);
            opacity: 1;
          }
          &.add {
            margin: 0 0 0 .5rem;
          }
        }
      }
      &:hover {
        td {
          background-color: $white1;
        }
        .editcol {
          button {
            color: #fff;
            &.edit {
              background-color: $orange;
            }
            &.delete {
              background-color: $red;
            }
            &.add {
              background-color: $green;
            }
          }
        }
      }
    }
  }
  tfoot {
    tr {
      td {
        background-color: $black6;
        border-top: none;
      }
      &:hover {
        td {
          background-color: $black6;
        }
      }
    }
  }
}

form#form-login,
form#form-register{
  @include box-shadow( $ver: 5px, $blur: 20px, $color: $black3 );
  max-width: 25rem;
}

footer {
  &.admin-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    border-color: transparent;
    text-align: right;
  }
}*/
