<div class="lb-container">
    <div class="lb-ct-container">
        <div class="close-lb"><i class="fa fa-times"></i></div>
        <div class="lb-ct">
            <h2 class="lb-title"></h2>
            <div class="ct"></div>
        </div>
    </div>
</div>