@-webkit-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}
@-moz-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}
@-o-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}
@keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}

@-webkit-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0; }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-moz-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0; }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-o-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0; }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0; }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}
@-moz-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}
@-o-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}
@keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    rights: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}

@-webkit-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0; }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-moz-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0; }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-o-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0; }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0; }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-o-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes BLINK-ANIMATION {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}

@-moz-keyframes BLINK-ANIMATION {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}

@-o-keyframes BLINK-ANIMATION {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}

@keyframes BLINK-ANIMATION {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}