html, body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: $mainbase;
  overflow-x: hidden;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 _____  ______ _    _  _____         ____  _      ______    _____ _                _____ _____ ______  _____
|  __ \|  ____| |  | |/ ____|  /\   |  _ \| |    |  ____|  / ____| |        /\    / ____/ ____|  ____|/ ____|
| |__) | |__  | |  | | (___   /  \  | |_) | |    | |__    | |    | |       /  \  | (___| (___ | |__  | (___
|  _  /|  __| | |  | |\___ \ / /\ \ |  _ <| |    |  __|   | |    | |      / /\ \  \___ \\___ \|  __|  \___ \
| | \ \| |____| |__| |____) / ____ \| |_) | |____| |____  | |____| |____ / ____ \ ____) |___) | |____ ____) |
|_|  \_\______|\____/|_____/_/    \_\____/|______|______|  \_____|______/_/    \_\_____/_____/|______|_____/
 */


%bfbutton {
  padding: 2rem;
  font-size: 1.4rem;
  font-family: $titleFont;
  letter-spacing: .15rem;
  line-height: 2rem;
}

/*
 ______ _   _ _____    _____  ______ _    _  _____         ____  _      ______    _____ _                _____ _____ ______  _____
|  ____| \ | |  __ \  |  __ \|  ____| |  | |/ ____|  /\   |  _ \| |    |  ____|  / ____| |        /\    / ____/ ____|  ____|/ ____|
| |__  |  \| | |  | | | |__) | |__  | |  | | (___   /  \  | |_) | |    | |__    | |    | |       /  \  | (___| (___ | |__  | (___
|  __| | . ` | |  | | |  _  /|  __| | |  | |\___ \ / /\ \ |  _ <| |    |  __|   | |    | |      / /\ \  \___ \\___ \|  __|  \___ \
| |____| |\  | |__| | | | \ \| |____| |__| |____) / ____ \| |_) | |____| |____  | |____| |____ / ____ \ ____) |___) | |____ ____) |
|______|_| \_|_____/  |_|  \_\______|\____/|_____/_/    \_\____/|______|______|  \_____|______/_/    \_\_____/_____/|______|_____/
 */

div.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: .3;
  z-index: $backgroundLevel;
  overflow: hidden;
  svg {
    @include transition( $dur: .8s, $ease: cubic-bezier(0.5, 0.23, 0.2, 0.79) );
    @extend %allcenter;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background-color: fade_out($mainbase, 20%);
  color: $col4;
  z-index: $menuLevel;
  > div:not(.menu-container) {
    height: 100%;
    padding: .5rem;
  }
  div.logo {
    float: right;
    svg {
      float: left;
      width: auto;
      height: 100%;
    }
  }
  div.menu-container {
    @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
    @include box-shadow( $hor: 15px, $blur: 20px, $color: $black5 );
    position: fixed;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100vh;
    background-color: $mainbase;
    border-bottom: none;
    border-right: 1px solid $col4;
    &.open {
      left: 0rem;
    }
    div.menu-icon {
      position: absolute;
      top: 0;
      left: 100%;
      height: 4.5rem;
      padding: .5rem;
      div.hamburger {
        @include transition($dur: 0.15s, $ease: linear);
        display: inline-block;
        height: 100%;
        padding: 0 .5rem;
        margin: 0;
        background-color: transparent;
        border: 0;
        text-transform: none;
        overflow: visible;
        cursor: pointer;
        &:hover,
        &.is-active:hover {
          opacity: 0.7;
        }
        &.is-active {
          span.hamburger-inner {
            //background-color: #fff;
            &::before,
            &::after {
              //background-color: #fff;
            }
          }
        }
        span.hamburger-box {
          display: inline-block;
          position: relative;
          width: 3.5rem;
          height: 2rem;
          span.hamburger-inner {
            @include transition($dur: .15s);
            @include border-radius(6px);
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 6px;
            margin-top: -3px;
            background-color: #fff;
            &:before,
            &:after {
              @include transition($dur: .15s);
              @include border-radius(6px);
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 6px;
              background-color: #fff;
            }
            &:before {
              top: -15px;
            }
            &:after {
              bottom: -15px;
            }
          }
        }
        &.hamburger--spin {
          span.hamburger-inner {
            @include transition($dur: .22s, $ease: cubic-bezier(0.55, 0.055, 0.675, 0.19));
            &:before {
              transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
            }
            &:after {
              transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
          }
          &.is-active {
            span.hamburger-inner {
              @include rotate(225deg);
              transition-delay: 0.12s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              &:before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
              }
              &:after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
              }
            }
          }
        }
      }
    }
    a {
      @extend %bfbutton;
    }
    ul.menu {
      float: left;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      * {
        float: left;
        width: 100%;
        height: auto;
      }
      > li {
        border-bottom: 1px solid $white2;
        > a {
        }
      }
    }
    div.user-menu-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 1rem;
      a.user-title {
        @include border-radius(.3rem);
        @extend %bfbutton;
        float: left;
        width: 100%;
        padding: 1rem;
        background-color: fade-out($defbase, .9);
        border: 1px solid fade-out($defbase, .5);
        text-align: right;
        i {
          float: left;
          height: 100%;
          padding: .6rem 0;
          font-size: 1.1rem;
          line-height: 1rem;
        }
        &.active {
          background-color: fade-out($defbase, .1);
          color: $col1;
        }
      }
      ul.user-menu {
        @include transition( $dur: .3s, $ease: cubic-bezier(0, 0, 0.09, 0.73) );
        position: absolute;
        bottom: -200%;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 0;
        margin: 0;
        opacity: 0;
        &.active {
          bottom: calc(100% - 1rem);
          opacity: 1;
        }
        * {
          width: 100%;
          height: auto;
          font-size: 1.1rem;
          line-height: 1rem;
        }
        li {
          margin-bottom: .5rem;
          a {
            @include transition();
            @include border-radius(.3rem);
            padding: 1rem;
            background-color: fade-out($defbase, .7);
            text-align: right;
            i {
              float: left;
              width: auto;
            }
            &:hover {
              background-color: fade-out($defbase, .2);
              color: $col1;
            }
          }
        }
      }
    }
  }
}

main {
  @include transition($ease: cubic-bezier(0, 0, 0.04, 0.97));
  position: relative;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 4.5rem 0 2rem 0;
  z-index: $contentLevel;
  &.open-menu {
    @include transition($dur:.8s, $ease: cubic-bezier(0.83, 0.1, 0.4, 0.8));
    left: 20rem;
  }
  > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  div.page-title {
    margin-bottom: 4rem;
    h1 {
      @include text-shadow($ver: 2px, $blur: 10px, $color: $defbase);
      margin: 0;
      text-align: center;
      padding: 3rem 0;
    }
  }
  article {
    padding: 3rem 2rem;
  }
}