<?php if ($options and !empty($options)) : ?>
    <ul>
    <?php foreach ($options as $option) : ?>
        <li data-key="<?=$option['key']?>" data-value="<?=$option['value']?>">
            <?=$option['label']?>
            <?php if ( !empty($option['sub']) ) : ?>
                <ul>
                    <?php foreach ($option['sub'] as $sub) : ?>
                        <li data-key="<?=$sub['key']?>" data-value="<?=$sub['value']?>"><?=$sub['label']?></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>